Repository thePegasusai/tald-audio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tald-unia/core-team, @tald-unia/backend-team, @tald-unia/audio-team, @tald-unia/ai-team, @tald-unia/spatial-team, @tald-unia/security-team, @tald-unia/devops-team, @tald-unia/qa-team

Add public-samples/tald-audio--kvecav/src/backend/src/profiles/dtos/update-profile.dto.ts
  src/backend/src/profiles/dtos/update-profile.dto.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/profiles/entities/audio-settings.entity.ts
  src/backend/src/profiles/entities/audio-settings.entity.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/profiles/entities/profile.entity.ts
  src/backend/src/profiles/entities/profile.entity.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/queue/queue.module.ts
  src/backend/src/queue/queue.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/queue/processors/ai-inference.queue.ts
  src/backend/src/queue/processors/ai-inference.queue.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/queue/processors/audio-processing.queue.ts
  src/backend/src/queue/processors/audio-processing.queue.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/spatial/spatial.controller.ts
  src/backend/src/spatial/spatial.controller.ts
Owners: @tald-unia/spatial-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/spatial/spatial.module.ts
  src/backend/src/spatial/spatial.module.ts
Owners: @tald-unia/spatial-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/spatial/spatial.service.ts
  src/backend/src/spatial/spatial.service.ts
Owners: @tald-unia/spatial-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/spatial/interfaces/hrtf.interface.ts
  src/backend/src/spatial/interfaces/hrtf.interface.ts
Owners: @tald-unia/spatial-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/spatial/processors/beamforming.processor.ts
  src/backend/src/spatial/processors/beamforming.processor.ts
Owners: @tald-unia/spatial-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/spatial/processors/room-modeling.processor.ts
  src/backend/src/spatial/processors/room-modeling.processor.ts
Owners: @tald-unia/spatial-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/swagger/swagger.config.ts
  src/backend/src/swagger/swagger.config.ts
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/backend/src/websocket/websocket.gateway.ts
  src/backend/src/websocket/websocket.gateway.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/websocket/websocket.module.ts
  src/backend/src/websocket/websocket.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/websocket/events/audio-events.enum.ts
  src/backend/src/websocket/events/audio-events.enum.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/websocket/interfaces/audio-stream.interface.ts
  src/backend/src/websocket/interfaces/audio-stream.interface.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/app.e2e-spec.ts
  src/backend/test/app.e2e-spec.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/jest-e2e.json
  src/backend/test/jest-e2e.json
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/ai/ai.service.spec.ts
  src/backend/test/ai/ai.service.spec.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/audio/audio.controller.spec.ts
  src/backend/test/audio/audio.controller.spec.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/audio/audio.service.spec.ts
  src/backend/test/audio/audio.service.spec.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/auth/auth.service.spec.ts
  src/backend/test/auth/auth.service.spec.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/profiles/profiles.service.spec.ts
  src/backend/test/profiles/profiles.service.spec.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/test/spatial/spatial.service.spec.ts
  src/backend/test/spatial/spatial.service.spec.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/ios/.gitignore
  src/ios/.gitignore
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/Dangerfile
  src/ios/Dangerfile
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/Gemfile
  src/ios/Gemfile
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/Gemfile.lock
  src/ios/Gemfile.lock
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/Package.swift
  src/ios/Package.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/Podfile
  src/ios/Podfile
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/README.md
  src/ios/README.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/swiftlint.yml
  src/ios/swiftlint.yml
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/TALDUnia.xcodeproj/project.pbxproj
  src/ios/TALDUnia.xcodeproj/project.pbxproj
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/TALDUnia.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/ios/TALDUnia.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/TALDUnia.xcodeproj/xcshareddata/xcschemes/TALDUnia.xcscheme
  src/ios/TALDUnia.xcodeproj/xcshareddata/xcschemes/TALDUnia.xcscheme
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/TALDUnia/Info.plist
  src/ios/TALDUnia/Info.plist
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/TALDUnia/TALDUniaApp.swift
  src/ios/TALDUnia/TALDUniaApp.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/ios/TALDUnia/AI/AIEngine.swift
  src/ios/TALDUnia/AI/AIEngine.swift
Owners: @tald-unia/core-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @tald-unia/core-team 
# will be requested for review when someone opens a pull request.
*       @tald-unia/core-team

# Backend service code with enhanced security requirements
src/backend/**    @tald-unia/backend-team

# Audio processing module with dual team ownership
src/backend/src/audio/**    @tald-unia/audio-team @tald-unia/backend-team

# AI processing module with specialized team oversight
src/backend/src/ai/**    @tald-unia/ai-team @tald-unia/backend-team

# Spatial audio module with dedicated team responsibility
src/backend/src/spatial/**    @tald-unia/spatial-team @tald-unia/backend-team

# Security-related code and configuration requires security team review
**/security/**    @tald-unia/security-team

# Infrastructure and deployment configuration with DevOps oversight
infrastructure/**    @tald-unia/devops-team

# Test files with QA team ownership
**/*.test.ts    @tald-unia/qa-team

# GitHub specific files require core team review
.github/**    @tald-unia/core-team

# Security-sensitive configurations require security team review
.github/workflows/**    @tald-unia/security-team @tald-unia/devops-team
**/Dockerfile    @tald-unia/security-team @tald-unia/devops-team
**/docker-compose*.yml    @tald-unia/security-team @tald-unia/devops-team

# Package dependencies require security review
package.json    @tald-unia/security-team @tald-unia/core-team
package-lock.json    @tald-unia/security-team @tald-unia/core-team
yarn.lock    @tald-unia/security-team @tald-unia/core-team

# Configuration files require both security and core team review
*.config.js    @tald-unia/security-team @tald-unia/core-team
*.config.ts    @tald-unia/security-team @tald-unia/core-team
.env.example    @tald-unia/security-team @tald-unia/core-team

# Documentation changes require core team review
docs/**    @tald-unia/core-team
*.md    @tald-unia/core-team
