Repository thePegasusai/tald-audio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tald-unia/core-team, @tald-unia/backend-team, @tald-unia/audio-team, @tald-unia/ai-team, @tald-unia/spatial-team, @tald-unia/security-team, @tald-unia/devops-team, @tald-unia/qa-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/memorystore.tf
  infrastructure/terraform/gcp/memorystore.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/outputs.tf
  infrastructure/terraform/gcp/outputs.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/provider.tf
  infrastructure/terraform/gcp/provider.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/storage.tf
  infrastructure/terraform/gcp/storage.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/variables.tf
  infrastructure/terraform/gcp/variables.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/vpc.tf
  infrastructure/terraform/gcp/vpc.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/.env.example
  src/backend/.env.example
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/src/backend/README.md
  src/backend/README.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/backend/nest-cli.json
  src/backend/nest-cli.json
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/package.json
  src/backend/package.json
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/backend/tsconfig.build.json
  src/backend/tsconfig.build.json
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/kubernetes/configmap.yaml
  src/backend/kubernetes/configmap.yaml
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/kubernetes/deployment.yaml
  src/backend/kubernetes/deployment.yaml
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/kubernetes/hpa.yaml
  src/backend/kubernetes/hpa.yaml
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/kubernetes/ingress.yaml
  src/backend/kubernetes/ingress.yaml
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/kubernetes/secret.yaml
  src/backend/kubernetes/secret.yaml
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/kubernetes/service.yaml
  src/backend/kubernetes/service.yaml
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/app.module.ts
  src/backend/src/app.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/main.ts
  src/backend/src/main.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/ai.controller.ts
  src/backend/src/ai/ai.controller.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/ai.module.ts
  src/backend/src/ai/ai.module.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/ai.service.ts
  src/backend/src/ai/ai.service.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/interfaces/model-config.interface.ts
  src/backend/src/ai/interfaces/model-config.interface.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/models/audio-enhancement.model.ts
  src/backend/src/ai/models/audio-enhancement.model.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @tald-unia/core-team 
# will be requested for review when someone opens a pull request.
*       @tald-unia/core-team

# Backend service code with enhanced security requirements
src/backend/**    @tald-unia/backend-team

# Audio processing module with dual team ownership
src/backend/src/audio/**    @tald-unia/audio-team @tald-unia/backend-team

# AI processing module with specialized team oversight
src/backend/src/ai/**    @tald-unia/ai-team @tald-unia/backend-team

# Spatial audio module with dedicated team responsibility
src/backend/src/spatial/**    @tald-unia/spatial-team @tald-unia/backend-team

# Security-related code and configuration requires security team review
**/security/**    @tald-unia/security-team

# Infrastructure and deployment configuration with DevOps oversight
infrastructure/**    @tald-unia/devops-team

# Test files with QA team ownership
**/*.test.ts    @tald-unia/qa-team

# GitHub specific files require core team review
.github/**    @tald-unia/core-team

# Security-sensitive configurations require security team review
.github/workflows/**    @tald-unia/security-team @tald-unia/devops-team
**/Dockerfile    @tald-unia/security-team @tald-unia/devops-team
**/docker-compose*.yml    @tald-unia/security-team @tald-unia/devops-team

# Package dependencies require security review
package.json    @tald-unia/security-team @tald-unia/core-team
package-lock.json    @tald-unia/security-team @tald-unia/core-team
yarn.lock    @tald-unia/security-team @tald-unia/core-team

# Configuration files require both security and core team review
*.config.js    @tald-unia/security-team @tald-unia/core-team
*.config.ts    @tald-unia/security-team @tald-unia/core-team
.env.example    @tald-unia/security-team @tald-unia/core-team

# Documentation changes require core team review
docs/**    @tald-unia/core-team
*.md    @tald-unia/core-team
