Repository thePegasusai/tald-audio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tald-unia/core-team, @tald-unia/backend-team, @tald-unia/audio-team, @tald-unia/ai-team, @tald-unia/spatial-team, @tald-unia/security-team, @tald-unia/devops-team, @tald-unia/qa-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @tald-unia/core-team 
# will be requested for review when someone opens a pull request.
*       @tald-unia/core-team

# Backend service code with enhanced security requirements
src/backend/**    @tald-unia/backend-team

# Audio processing module with dual team ownership
src/backend/src/audio/**    @tald-unia/audio-team @tald-unia/backend-team

# AI processing module with specialized team oversight
src/backend/src/ai/**    @tald-unia/ai-team @tald-unia/backend-team

# Spatial audio module with dedicated team responsibility
src/backend/src/spatial/**    @tald-unia/spatial-team @tald-unia/backend-team

# Security-related code and configuration requires security team review
**/security/**    @tald-unia/security-team

# Infrastructure and deployment configuration with DevOps oversight
infrastructure/**    @tald-unia/devops-team

# Test files with QA team ownership
**/*.test.ts    @tald-unia/qa-team

# GitHub specific files require core team review
.github/**    @tald-unia/core-team

# Security-sensitive configurations require security team review
.github/workflows/**    @tald-unia/security-team @tald-unia/devops-team
**/Dockerfile    @tald-unia/security-team @tald-unia/devops-team
**/docker-compose*.yml    @tald-unia/security-team @tald-unia/devops-team

# Package dependencies require security review
package.json    @tald-unia/security-team @tald-unia/core-team
package-lock.json    @tald-unia/security-team @tald-unia/core-team
yarn.lock    @tald-unia/security-team @tald-unia/core-team

# Configuration files require both security and core team review
*.config.js    @tald-unia/security-team @tald-unia/core-team
*.config.ts    @tald-unia/security-team @tald-unia/core-team
.env.example    @tald-unia/security-team @tald-unia/core-team

# Documentation changes require core team review
docs/**    @tald-unia/core-team
*.md    @tald-unia/core-team

Add public-samples/tald-audio--kvecav/.github/dependabot.yml
  .github/dependabot.yml
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/.github/workflows/ios-ci.yml
  .github/workflows/ios-ci.yml
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/.github/workflows/macos-ci.yml
  .github/workflows/macos-ci.yml
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/infrastructure/docker/monitoring/elk/Dockerfile
  infrastructure/docker/monitoring/elk/Dockerfile
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/docker/monitoring/grafana/Dockerfile
  infrastructure/docker/monitoring/grafana/Dockerfile
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/docker/monitoring/jaeger/Dockerfile
  infrastructure/docker/monitoring/jaeger/Dockerfile
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/docker/monitoring/prometheus/Dockerfile
  infrastructure/docker/monitoring/prometheus/Dockerfile
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/ingress/istio-values.yaml
  infrastructure/kubernetes/ingress/istio-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/ingress/nginx-values.yaml
  infrastructure/kubernetes/ingress/nginx-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/monitoring/elk-values.yaml
  infrastructure/kubernetes/monitoring/elk-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/monitoring/grafana-values.yaml
  infrastructure/kubernetes/monitoring/grafana-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/monitoring/jaeger-values.yaml
  infrastructure/kubernetes/monitoring/jaeger-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/monitoring/prometheus-values.yaml
  infrastructure/kubernetes/monitoring/prometheus-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/security/cert-manager-values.yaml
  infrastructure/kubernetes/security/cert-manager-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/security/vault-values.yaml
  infrastructure/kubernetes/security/vault-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/storage/minio-values.yaml
  infrastructure/kubernetes/storage/minio-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/storage/postgresql-values.yaml
  infrastructure/kubernetes/storage/postgresql-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/kubernetes/storage/redis-values.yaml
  infrastructure/kubernetes/storage/redis-values.yaml
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/cloud-sql.tf
  infrastructure/terraform/gcp/cloud-sql.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/gke.tf
  infrastructure/terraform/gcp/gke.tf
Owners: @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/infrastructure/terraform/gcp/main.tf
  infrastructure/terraform/gcp/main.tf
Owners: @tald-unia/devops-team
