Repository thePegasusai/tald-audio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tald-unia/core-team, @tald-unia/backend-team, @tald-unia/audio-team, @tald-unia/ai-team, @tald-unia/spatial-team, @tald-unia/security-team, @tald-unia/devops-team, @tald-unia/qa-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @tald-unia/core-team 
# will be requested for review when someone opens a pull request.
*       @tald-unia/core-team

# Backend service code with enhanced security requirements
src/backend/**    @tald-unia/backend-team

# Audio processing module with dual team ownership
src/backend/src/audio/**    @tald-unia/audio-team @tald-unia/backend-team

# AI processing module with specialized team oversight
src/backend/src/ai/**    @tald-unia/ai-team @tald-unia/backend-team

# Spatial audio module with dedicated team responsibility
src/backend/src/spatial/**    @tald-unia/spatial-team @tald-unia/backend-team

# Security-related code and configuration requires security team review
**/security/**    @tald-unia/security-team

# Infrastructure and deployment configuration with DevOps oversight
infrastructure/**    @tald-unia/devops-team

# Test files with QA team ownership
**/*.test.ts    @tald-unia/qa-team

# GitHub specific files require core team review
.github/**    @tald-unia/core-team

# Security-sensitive configurations require security team review
.github/workflows/**    @tald-unia/security-team @tald-unia/devops-team
**/Dockerfile    @tald-unia/security-team @tald-unia/devops-team
**/docker-compose*.yml    @tald-unia/security-team @tald-unia/devops-team

# Package dependencies require security review
package.json    @tald-unia/security-team @tald-unia/core-team
package-lock.json    @tald-unia/security-team @tald-unia/core-team
yarn.lock    @tald-unia/security-team @tald-unia/core-team

# Configuration files require both security and core team review
*.config.js    @tald-unia/security-team @tald-unia/core-team
*.config.ts    @tald-unia/security-team @tald-unia/core-team
.env.example    @tald-unia/security-team @tald-unia/core-team

# Documentation changes require core team review
docs/**    @tald-unia/core-team
*.md    @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/models/room-correction.model.ts
  src/backend/src/ai/models/room-correction.model.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/processors/inference.processor.ts
  src/backend/src/ai/processors/inference.processor.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/ai/processors/training.processor.ts
  src/backend/src/ai/processors/training.processor.ts
Owners: @tald-unia/ai-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/audio.controller.ts
  src/backend/src/audio/audio.controller.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/audio.module.ts
  src/backend/src/audio/audio.module.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/audio.service.ts
  src/backend/src/audio/audio.service.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/dtos/process-audio.dto.ts
  src/backend/src/audio/dtos/process-audio.dto.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/interfaces/audio-config.interface.ts
  src/backend/src/audio/interfaces/audio-config.interface.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/processors/dsp.processor.ts
  src/backend/src/audio/processors/dsp.processor.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/processors/enhancement.processor.ts
  src/backend/src/audio/processors/enhancement.processor.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/audio/processors/spatial.processor.ts
  src/backend/src/audio/processors/spatial.processor.ts
Owners: @tald-unia/audio-team, @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/auth/auth.controller.ts
  src/backend/src/auth/auth.controller.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/auth/auth.module.ts
  src/backend/src/auth/auth.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/auth/auth.service.ts
  src/backend/src/auth/auth.service.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/auth/decorators/roles.decorator.ts
  src/backend/src/auth/decorators/roles.decorator.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/auth/guards/jwt-auth.guard.ts
  src/backend/src/auth/guards/jwt-auth.guard.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/auth/strategies/jwt.strategy.ts
  src/backend/src/auth/strategies/jwt.strategy.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/cache/cache.module.ts
  src/backend/src/cache/cache.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/cache/cache.service.ts
  src/backend/src/cache/cache.service.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/common/decorators/api-response.decorator.ts
  src/backend/src/common/decorators/api-response.decorator.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/common/filters/http-exception.filter.ts
  src/backend/src/common/filters/http-exception.filter.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/common/interceptors/transform.interceptor.ts
  src/backend/src/common/interceptors/transform.interceptor.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/common/interfaces/paginated-response.interface.ts
  src/backend/src/common/interfaces/paginated-response.interface.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/common/middlewares/logger.middleware.ts
  src/backend/src/common/middlewares/logger.middleware.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/common/pipes/validation.pipe.ts
  src/backend/src/common/pipes/validation.pipe.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/config/configuration.ts
  src/backend/src/config/configuration.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/config/validation.schema.ts
  src/backend/src/config/validation.schema.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/database/database.module.ts
  src/backend/src/database/database.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/database/migrations/1624500000000-CreateProfiles.ts
  src/backend/src/database/migrations/1624500000000-CreateProfiles.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/database/migrations/1624500000001-CreateAudioSettings.ts
  src/backend/src/database/migrations/1624500000001-CreateAudioSettings.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/database/migrations/1624500000002-CreateAIModels.ts
  src/backend/src/database/migrations/1624500000002-CreateAIModels.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/health/health.controller.ts
  src/backend/src/health/health.controller.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/health/health.module.ts
  src/backend/src/health/health.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/metrics/metrics.controller.ts
  src/backend/src/metrics/metrics.controller.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/metrics/metrics.module.ts
  src/backend/src/metrics/metrics.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/metrics/collectors/audio-metrics.collector.ts
  src/backend/src/metrics/collectors/audio-metrics.collector.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/profiles/profiles.controller.ts
  src/backend/src/profiles/profiles.controller.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/profiles/profiles.module.ts
  src/backend/src/profiles/profiles.module.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/profiles/profiles.service.ts
  src/backend/src/profiles/profiles.service.ts
Owners: @tald-unia/backend-team

Add public-samples/tald-audio--kvecav/src/backend/src/profiles/dtos/create-profile.dto.ts
  src/backend/src/profiles/dtos/create-profile.dto.ts
Owners: @tald-unia/backend-team
