Repository thePegasusai/tald-audio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tald-unia/core-team, @tald-unia/backend-team, @tald-unia/audio-team, @tald-unia/ai-team, @tald-unia/spatial-team, @tald-unia/security-team, @tald-unia/devops-team, @tald-unia/qa-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/UI/Views/ProfileView.swift
  src/macos/TALDUnia/UI/Views/ProfileView.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/UI/Views/SettingsView.swift
  src/macos/TALDUnia/UI/Views/SettingsView.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/UI/Views/VisualizationView.swift
  src/macos/TALDUnia/UI/Views/VisualizationView.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/Utils/AudioMath.swift
  src/macos/TALDUnia/Utils/AudioMath.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/Utils/Metrics.swift
  src/macos/TALDUnia/Utils/Metrics.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/Utils/SignalProcessing.swift
  src/macos/TALDUnia/Utils/SignalProcessing.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/Utils/Extensions/AVAudioEngine+Extensions.swift
  src/macos/TALDUnia/Utils/Extensions/AVAudioEngine+Extensions.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/Utils/Extensions/Array+Extensions.swift
  src/macos/TALDUnia/Utils/Extensions/Array+Extensions.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUnia/Utils/Extensions/Float+Extensions.swift
  src/macos/TALDUnia/Utils/Extensions/Float+Extensions.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaTests/AIEngineTests.swift
  src/macos/TALDUniaTests/AIEngineTests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaTests/AudioEngineTests.swift
  src/macos/TALDUniaTests/AudioEngineTests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaTests/DSPProcessorTests.swift
  src/macos/TALDUniaTests/DSPProcessorTests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaTests/ProfileManagerTests.swift
  src/macos/TALDUniaTests/ProfileManagerTests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaTests/SpatialEngineTests.swift
  src/macos/TALDUniaTests/SpatialEngineTests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaTests/MockData/audio_samples.dat
  src/macos/TALDUniaTests/MockData/audio_samples.dat
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaTests/MockData/test_model.tflite
  src/macos/TALDUniaTests/MockData/test_model.tflite
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaUITests/AudioControlUITests.swift
  src/macos/TALDUniaUITests/AudioControlUITests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaUITests/ProfileUITests.swift
  src/macos/TALDUniaUITests/ProfileUITests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/TALDUniaUITests/VisualizationUITests.swift
  src/macos/TALDUniaUITests/VisualizationUITests.swift
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/fastlane/Appfile
  src/macos/fastlane/Appfile
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/fastlane/Fastfile
  src/macos/fastlane/Fastfile
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/fastlane/Matchfile
  src/macos/fastlane/Matchfile
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/scripts/bootstrap.sh
  src/macos/scripts/bootstrap.sh
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/scripts/build.sh
  src/macos/scripts/build.sh
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/scripts/lint.sh
  src/macos/scripts/lint.sh
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/macos/scripts/test.sh
  src/macos/scripts/test.sh
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/.dockerignore
  src/web/.dockerignore
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/.env.example
  src/web/.env.example
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/.prettierrc
  src/web/.prettierrc
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/Dockerfile
  src/web/Dockerfile
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/src/web/README.md
  src/web/README.md
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @tald-unia/security-team, @tald-unia/devops-team

Add public-samples/tald-audio--kvecav/src/web/index.html
  src/web/index.html
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/package.json
  src/web/package.json
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @tald-unia/security-team, @tald-unia/core-team

Add public-samples/tald-audio--kvecav/src/web/cypress/e2e/audio.cy.ts
  src/web/cypress/e2e/audio.cy.ts
Owners: @tald-unia/core-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @tald-unia/core-team 
# will be requested for review when someone opens a pull request.
*       @tald-unia/core-team

# Backend service code with enhanced security requirements
src/backend/**    @tald-unia/backend-team

# Audio processing module with dual team ownership
src/backend/src/audio/**    @tald-unia/audio-team @tald-unia/backend-team

# AI processing module with specialized team oversight
src/backend/src/ai/**    @tald-unia/ai-team @tald-unia/backend-team

# Spatial audio module with dedicated team responsibility
src/backend/src/spatial/**    @tald-unia/spatial-team @tald-unia/backend-team

# Security-related code and configuration requires security team review
**/security/**    @tald-unia/security-team

# Infrastructure and deployment configuration with DevOps oversight
infrastructure/**    @tald-unia/devops-team

# Test files with QA team ownership
**/*.test.ts    @tald-unia/qa-team

# GitHub specific files require core team review
.github/**    @tald-unia/core-team

# Security-sensitive configurations require security team review
.github/workflows/**    @tald-unia/security-team @tald-unia/devops-team
**/Dockerfile    @tald-unia/security-team @tald-unia/devops-team
**/docker-compose*.yml    @tald-unia/security-team @tald-unia/devops-team

# Package dependencies require security review
package.json    @tald-unia/security-team @tald-unia/core-team
package-lock.json    @tald-unia/security-team @tald-unia/core-team
yarn.lock    @tald-unia/security-team @tald-unia/core-team

# Configuration files require both security and core team review
*.config.js    @tald-unia/security-team @tald-unia/core-team
*.config.ts    @tald-unia/security-team @tald-unia/core-team
.env.example    @tald-unia/security-team @tald-unia/core-team

# Documentation changes require core team review
docs/**    @tald-unia/core-team
*.md    @tald-unia/core-team
